.main_page{
background: black;
height: 100vh;
width: 100%;
h1{
    color:white;
    font-size: 100px;
}
.buttonComponent {
    width: 400px;
    margin:0 auto;
    background: red;
    color:white;
    outline: none;
}
}